# Gemini API configurations
GEMINI_API_KEY=your-project-id

# Google Cloud Project configurations
GOOGLE_CLOUD_PROJECT=your-api-key

# Gemini model configurations
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TEMPERATURE=1
GEMINI_TOP_P=0.95
GEMINI_TOP_K=64
GEMINI_MAX_OUTPUT_TOKENS=8192

# File Upload
MAX_FILE_SIZE_MB=20
UPLOAD_TIMEOUT=180
